<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>GradleWarPlugin</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ubb.web.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/ajax/user/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserServlet</servlet-name>
        <servlet-class>ubb.web.servlet.GetUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserServlet</servlet-name>
        <url-pattern>/ajax/get-user/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserMainServlet</servlet-name>
        <servlet-class>ubb.web.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserMainServlet</servlet-name>
        <url-pattern>/user/main</url-pattern>
    </servlet-mapping>

</web-app>